.Container {
  position: relative;
  display: block;
}
.Form {
  position: absolute;
  width: 50%;
  display: flex;
  flex-flow: column;
  height: 100%;
  margin: 10px;
  top: 60px;
  right: 5px;
}
.Input {
  width: 50%;
}

.LoginImage img {
  position: absolute;
  width: 40%;
  left: 40px;
  top: 100px;
}

@media (max-width: 499px) {
  .LoginImage img {
    display: none;
  }
  .Container {
    display: flex;
  }
  .Form {
    display: flex;
    flex-flow: column;
    width: 100%;
    align-items: center;
    right: 20px;
  }
  .Input {
    width: 100%;
  }
}
